##### FOR LOOP

In [9]:
lst = ["apple","mango", "banana","grapes","papaya"]
for i in lst:
    print(i, end=', ')

apple, mango, banana, grapes, papaya,

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(5):
    print("Devansh Pandey")

Devansh Pandey
Devansh Pandey
Devansh Pandey
Devansh Pandey
Devansh Pandey

In [5]:
for i in range(2,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [4]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

##### WHILE LOOP

In [8]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [10]:
i = 1
while i <= 5:
    print("Devansh Pandey")
    i+=1

Devansh Pandey
Devansh Pandey
Devansh Pandey
Devansh Pandey
Devansh Pandey

In [11]:
i = 1
while i <=20:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20

In [12]:
i = 1
while i <= 20:
    print(i)
    i += 2

1
3
5
7
9
11
13
15
17
19

##### BREAK and CONTINUE

In [14]:
lst = ["apple","mango", "banana","grapes","papaya","onion","kiwi"]
for i in lst:
    if i == "onion":
        break
    print(i)

apple
mango
banana
grapes
papaya

In [16]:
lst = ["apple","mango", "banana","grapes","papaya","onion","kiwi"]
for i in lst:
    if i == "onion":
        continue
    print(i)

apple
mango
banana
grapes
papaya
kiwi

In [19]:
# WAP to print multiplication table of a number
num = int(input("enter a number: "))
for i in range(1, 11):
    print(f"{num} * {i} = {num * i}")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [22]:
# WAP to find the sum of all even numbers from 1 to 100
sum = 0
for i in range(1, 101):
    if i % 2 == 0:
        sum += i
print(sum)

2550

In [34]:
# WAP to check if a number is prime or not using while loop
num = int(input("Enter a number: "))
i = 2
while i <= num // 2:
    if num % i == 0:
        print(f"{num} is not a prime number")
        break
    i += 1
else:
    print(f"{num} is a prime number")

90 is not a prime number

In [ ]:
# WAP to calculate factorial of a number using for loop
num = int(input("Enter a number: "))
fact = 1
for i in range(2, num+1):
    fact *= i
print(f"The factorial of {num} is {fact}")

The factorial of 5 is 120