- set is an unordered collection of unique items
- curly brackets {} are used to define set

In [3]:
fruit = {'apple', 'banana', 'cherry', 'date', 'elderberry'}
print(fruit)

{'banana', 'cherry', 'elderberry', 'date', 'apple'}

In [4]:
num = {1, 2, 3, 4, 5}
print(num)

{1, 2, 3, 4, 5}

In [ ]:
# method 1 to create set
s1 = {1, 2, 3, 4, 5}

# method 2 to create set
s2 = set([1,2,3,4,5])

In [6]:
print (0.1+0.2==0.3)

False

In [ ]:
lis

TypeError: can only concatenate str (not "int") to str